*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/tasks.xml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/misc.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/inspectionProfiles
/.idea/vcs.xml
/.idea/other.xml
app/release
app/nonMinifiedRelease

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/sessions/*